{% extends 'base.html' %}

{% block titulo %}
Donantes
{% endblock titulo %}

{% block contenido %}

<form action="" method="get">
    <div class="row">

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            {% if tipo == 'Natural' %}
            <div class="form-group">
                <label for="nombres">Nombres</label>
                <input type="text" class="form-control" name="nombres" id="nombres" aria-describedby="helpId1"
                    placeholder="Juan Jose">
                <small id="helpId1" class="form-text text-muted">Escribe los nombres de la persona que buscas</small>
            </div>
            <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" class="form-control" name="apellidos" id="apellidos" aria-describedby="helpId2"
                    placeholder="Perez Perez">
                <small id="helpId2" class="form-text text-muted">Escribe os apellidos de la persona que buscas</small>
            </div>
            {% endif %}

            {% if tipo == 'Juridica' %}
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId1"
                    placeholder="Juan Jose">
                <small id="helpId1" class="form-text text-muted">Escribe los nombres de la organizacion que
                    buscas</small>
            </div>
            {% endif %}
        </div>


        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>

    </div>

    <div class="row">

        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button type="submit" class="btn btn-primary">Buscar</button>

        </div>

        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

        </div>


    </div>

</form>


<small id="helpId" class="text-muted">Mostrando {{donantes|length}} registros</small>

{% for donante in donantes %}
<h5>{{donante.nombre}}</h5>

{% for donacion in donante.donacion_set.all %}


{% endfor %}



<table class="table">
    <thead>
        <tr>
            <th>Partido</th>
            <th>Monto</th>
            <th>Año</th>
            <th>Financiamiento</th>
        </tr>
    </thead>
    <tbody>
        {% for donacion in donante.donacion_set.all %}
        <tr>
            <td>{{donacion.partido}}</td>
            <td>{{donacion.monto}}</td>
            <td>{{donacion.ano}}</td>
            <td>{{donacion.financiamiento}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endfor %}

{% endblock contenido %}